aside{
    background-color: rgb(248, 218, 118);
    border: 5px dotted rgb(78, 8, 8);
    font-size: medium;

}
#lamp{
    display: inline-block;
}
#tips{
    display: inline-block;
}
section:nth-child(1), aside{
    display: inline-block;
}